@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

label {
  letter-spacing: 2px;
}

.credit-site {
  display: flex;
}

.credits-images-side {
  width: 30vw;
  background-image: url(./images/bg-main-desktop.png);
  background-size: cover;
  height: 100vh;
}

.user-form-side {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.expiration {
  display: flex;
  gap: 10px;
  width: 100%;
}

.user-form {
  width: 28vw;
}

.card-name .card-input,
.card-number .card-input,
.card-three-numbers .card-input {
  box-sizing: border-box;
  width: 100%;
}

.card-expiration {
  width: 50%;
}

.card-three-numbers {
  width: 50%;
}

.card-expiration .card-input {
  width: 40%;
  display: inline-block;
}

#card-input-id {
  margin-left: 4px;
}

.card-input {
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 6px;
  padding: 7px;
  box-sizing: border-box;
}

.card-input:focus {
  border-color: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  outline: none !important;
}

.confirm-btn {
  box-sizing: border-box;
  width: 100%;
  margin-top: 32px;
  padding: 12px;
  font-family: "Space Grotesk", sans-serif;
  background-color: hsl(278, 68%, 11%);
  border-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
}

.front-card {
  position: relative;
  left: 43%;
  top: 22%;
}

.back-card {
  position: relative;
  left: 58%;
  top: 25%;
}

.card-image {
  height: auto;
  max-width: 100%;
}
