@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

label {
  letter-spacing: 2px;
}

.credit-site {
  display: flex;
}

.credits-images-side {
  width: 30vw;
  background-image: url(./images/bg-main-desktop.png);
  background-size: cover;
  height: 100vh;
}

.user-form-side {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.expiration {
  display: flex;
  gap: 10px;
  width: 100%;
}

.user-form {
  width: 28vw;
}

.card-name .card-input,
.card-number .card-input,
.card-three-numbers .card-input {
  box-sizing: border-box;
  width: 100%;
}

.card-expiration {
  width: 50%;
}

.card-three-numbers {
  width: 50%;
}

.card-expiration .card-input {
  width: 40%;
  display: inline-block;
}

#card-input-id {
  margin-left: 4px;
}

.card-input {
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 6px;
  padding: 7px;
  box-sizing: border-box;
}

.card-input:focus {
  border-color: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  outline: none !important;
}

.confirm-btn {
  box-sizing: border-box;
  width: 100%;
  margin-top: 32px;
  padding: 12px;
  font-family: "Space Grotesk", sans-serif;
  background-color: hsl(278, 68%, 11%);
  border-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
}

.confirm-btn:hover {
  cursor: pointer;
}

.front-card {
  position: relative;
  left: 43%;
  top: 22%;
  background-image: url("./bg-card-front.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 54.8%;
  display: flex;
  box-shadow: 0px 0px 20px black;
}

.front-card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 20px 40px 20px 30px;
}
.circles {
  display: flex;
  align-items: center;
  margin-right: 20px;
  gap: 20px;
  padding-bottom: 20px;
}

.big-circle {
  height: 3.5vw;
  width: 3.5vw;
  background-color: white;
  border-radius: 50%;
}

.small-circle {
  height: 1.2vw;
  width: 1.2vw;
  border: 1px solid white;
  border-radius: 50%;
}

.front-card-number-display {
  color: white;
  font-size: 2vw;
  letter-spacing: 2px;
  font-family: "Space Grotesk";
  margin-right: 20px;
}

.bottom-front-card-information-display {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  line-height: 5px;
  color: white;
  font-size: 1.2vw;
}

.back-card {
  position: relative;
  left: 58%;
  top: 25%;
  background-image: url("./bg-card-back.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 54.8%;
  display: flex;
  box-shadow: 0px 0px 20px black;
}

.back-card-content {
  position: absolute;
  top: 37.4%;
  left: 80%;
  font-size: 1.1vw;
  color: white;
  letter-spacing: 2px;
}
